<style>
          h1 {
        text-align: center;
      }
      img {
        max-width: 100%;
      }
      
      .main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       } 
      
      main div {
        width: 100%;
        box-shadow: 1px 1px 4px 1px #888;
        border-radius: 3px 3px 3px 3px;
        background-color: white;
        overflow: hidden;
      }
      
      .rule-of-thirds{
      grid-column: 1/2;
     
      }
      
      .white-space-clean{
      grid-column: 2/3;
     
      }
      
      .hicks-law{
      grid-column: 3/4;
       
      }
      
      
      p {
        font-family: arial, sans-serif;
        padding: 1em;
        margin-bottom: 0px;
      }
      
      .span {
        color: #888;
        margin-right: 1em;
        margin-left: 14em;
        font-family: arial, sans-serif;
        font-size: .75em;
      }
  </style>
