@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr;
	}
    
    .weather-logo {
        max-width: 100px;
    }
    nav a {
        color: #EAA821;
        text-decoration: none;
        padding: 1%;
        font-size: 1.1rem;
    }
    nav button {
        display: none;
    }
    nav ul { 
        display: flex;
        justify-content: space-around;
        font-size: 1.6em;
    }
    nav ul li { 
        flex: 1 1 100%; 
    }
    nav ul li a { 
        border: none;
    }
    nav ul.hide {
        display: flex;
    }
    .logo-box {
        border: none;
    }
    h1 {
        font-size: 26px;
    }
    h3 {
        font-size: 24px
    }

    p {
        font-size: 18px;
    }

    .hero-div {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
    .week6hero {
        grid-column: 1 / -1;
        grid-row: 1;
    }

    .summary {
        grid-column: 1;
        grid-row: 1;
        background-color: rgba(50, 19, 37, .6);
        margin: 3em;
        padding: 1em;
        text-align: left;
        font-size: 0.9em;
        max-width: 220px;
    }

    
    
    .wSum {
        margin: 0;
    }
   
    
    table {
        width: 100%;
        margin: 20px;
    }

    th img {
        width: 100px;
    }
    
    .article-img {
        width: 100%;
    }
}